{% extends 'base.html.twig' %}

{% block title %}Hello CreerUserController!{% endblock %}

{% block body %}

    {% if erreur is defined %}
        <p>{{ erreur }}</p>
        <p>Salut</p>
    {% endif %}

    <h1 class="mt-4 text-center">Créer un User</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <div class="mdp">
        {{ form_row(form.mdp) }}
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}

{% endblock %}
