{% extends 'base.html.twig' %}

{% block title %}Hello DetailFilmController!{% endblock %}

{% block body %}
    <h1 class="mt-0">Détail du film :</h1>
    <h2>Informations du film : </h2>
    {% for detail in film %}
        <div class="detail_film">
            <ul>
{#                <li>Id du film : {{ detail.id }}</li>#}
                <li>Titre du film : {{ detail.titre }}</li>
                <li>Durée du film : {{ detail.duree }} min</li>
            </ul>
        </div>
        <p></p>
        <h2>Séances pour ce film : </h2>
        <p></p>
        <div>
            {% for seance in detail.seances %}
                <div class="detail_seance">
                    <ul>
{#                        <li>Id de la séance: {{ seance.id }}</li>#}
                        <li>Date de projection de la séance: {{ seance.dateProj }}</li>
                        <li>Tarif normal de la séance: {{ seance.tarifNormal }}</li>
                        <li>Tarid réduit de la séance: {{ seance.tarifReduit }}</li>
                        <li>Salle de séance: {{ seance.salle.nom }}</li>
                    </ul>
                </div>
            {% endfor %}
            <a href="http://127.0.0.1:8001/" class="btn-retour-detail">Retour</a>
        </div>
    {% endfor %}
{% endblock %}
